<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card  mb-4">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Dosen</p>
                    <h5 class="font-weight-bolder">
                      <%- dosen %>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-single-02 text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card  mb-4">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Jumlah Pengampu</p>
                    <h5 class="font-weight-bolder">
                      <%- pengampu %>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="ni ni-badge text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card  mb-4">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Jumlah Mata Kuliah</p>
                    <h5 class="font-weight-bolder">
                      <%- matkul %>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-books text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card  mb-4">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Kelas Yang Tersedia</p>
                    <h5 class="font-weight-bolder">
                      <%- ruang %>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="ni ni-building text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body">    
            <h3> Selamat datang di Aplikasi Sistem Penjadwalan Ruang Kuliah T.A. 2023/2024</h3>
            <br>
    
            <div class="row">
                <article class="col">
                    Aplikasi sistem penjadwalan ini memanfaatkan algoritma genetika untuk menyediakan solusi penjadwalan yang optimal.
                    Algoritma ini membantu meminimalkan konflik dan memaksimalkan efisiensi dengan membuat penyesuaian real-time terhadap jadwal.
                    Ini berarti bahwa aplikasi dapat menentukan solusi terbaik untuk masalah penjadwalan dengan menggunakan metode yang sesuai dengan solusi yang paling cocok.
                </article>
                <article class="col">
                    Dengan menggunakan aplikasi ini, pengguna dapat membuat jadwal yang lebih baik dan efisien tanpa harus membuang banyak waktu dan usaha.
                    Aplikasi ini mempermudah proses penjadwalan dengan menyediakan antarmuka yang mudah digunakan dan mempermudah akses ke data yang relevan.
                    Algoritma genetika yang digunakan dalam aplikasi memastikan bahwa solusi yang diberikan selalu up-to-date dan sesuai dengan kondisi terkini sehingga memastikan hasil yang maksimal.
                </article>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header pb-0">
          <div class="d-flex align-items-center">
            <h6>Daftar Jadwal Kuliah</h6>
            <a class="ms-auto" href="/getreport">
              <button type="button" class="btn btn-icon bg-gradient-success">
                <span class="btn-inner--icon"><i class="fa fa-download"></i></span>
                <span class="btn-inner--text">Generate Report</span>
              </button>
            </a>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0" id="datatable-basic">
              <thead>
                <tr>
                    <th>No.</th>
                    <th>Hari</th>
                    <th>Sesi</th>
                    <th>Jam Kuliah</th>
                    <th>Mata Kuliah</th>
                    <th>Sks</th>
                    <th>Semester</th>
                    <th>Kelas</th>
                    <th>Dosen</th>
                    <th>Ruangan</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>No.</th>
                    <th>Hari</th>
                    <th>Sesi</th>
                    <th>Jam Kuliah</th>
                    <th>Mata Kuliah</th>
                    <th>Sks</th>
                    <th>Semester</th>
                    <th>Kelas</th>
                    <th>Dosen</th>
                    <th>Ruangan</th>
                </tr>
            </tfoot>
            <tbody>
                <% let no = 1; %> 
                <% result.forEach(res => { %>
                    <tr>
                        <td class="text-sm font-weight-normal"><%= no++ %> </td>
                        <td class="text-sm font-weight-normal"><%- res.hari %> </td>
                        <td class="text-sm font-weight-normal"><%- res.sesi %></td>
                        <td class="text-sm font-weight-normal"><%- res.jam_kuliah %></td>
                        <td class="text-sm font-weight-normal"><%- res.nama_mk %></td>
                        <td class="text-sm font-weight-normal"><%- res.sks %></td>
                        <td class="text-sm font-weight-normal"><%- res.semester %></td>
                        <td class="text-sm font-weight-normal"><%- res.kelas %></td>
                        <td class="text-sm font-weight-normal"><%- res.dosen %></td>
                        <td class="text-sm font-weight-normal"><%- res.ruang %></td>
                    </tr>                             
                <% }) %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  