  <div class="card shadow-lg mx-4 card-profile-bottom">
      <div class="card-body p-3">
        <% if (user.role == 'user') { %>
          <div class="row gx-4">
            <div class="col-auto">
              <div class="avatar avatar-xl position-relative">
                <img src="/img/profile.png" alt="profile_image" class="w-100 shadow-sm" style="border-radius: 100%;">
              </div>
            </div>
            <div class="col-auto my-auto">
              <div class="h-100">
                <h5 class="mb-1" style="text-transform: capitalize;">
                  <%- user.name %>
                </h5>
                <p class="mb-0 font-weight-bold text-sm">
                  <span class="badge bg-gradient-info">staff</span>
                </p>
              </div>
            </div>
          </div>
        <% } else { %>
          <div class="row gx-4">
            <div class="col-auto">
              <div class="avatar avatar-xl position-relative">
                <img src="/img/profile.jpg" alt="profile_image" class="w-100 shadow-sm" style="border-radius: 100%;">
              </div>
            </div>
            <div class="col-auto my-auto">
              <div class="h-100">
                <h5 class="mb-1" style="text-transform: capitalize;">
                  <%- user.name %>
                </h5>
                <p class="mb-0 font-weight-bold text-sm">
                  <span class="badge bg-gradient-info"><%- user.role %></span>
                </p>
              </div>
            </div>
          </div>
        <% } %>
      </div>
  </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-6">
          <form action="/user/update" method="post">
            <input type="hidden" name="oldEmail" value="<%= oldEmail || user.email %>">
            <div class="card">
              <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                  <h5 class="mb-0">Edit Profile</h5>
                  <button type="submit" id="btnprofile" class="btn bg-gradient-success ms-auto" disabled>Simpan</button>
                </div>
              </div>
              <div class="card-body">
                <p class="text-uppercase text-sm">User Information</p>
                <% if (profilemsg.length !== 0) { %>
                  <div class="card bg-danger text-white shadow mb-2">
                      <div class="card-body font-weight-bold py-2">
                          <%= profilemsg %>
                      </div>
                  </div>
                <% } %>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Username</label>
                      <input class="form-control" name="name" type="text" value="<%- user.name %>">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Email address</label>
                      <input class="form-control" type="email" value="<%- user.email %>" name="email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="role" class="form-label">Role</label>
                      <select class="form-select" id="role" name="role" aria-label="Default select example" disabled>
                          <option selected value="<%- user.role %>"><%- user.role === 'user' ? 'Staff' : 'Admin' %></option>
                          <option value="admin">Admin</option>
                          <option value="user">User</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Password</label>
                      <input type="password" class="form-control" id="profilepassword" onkeyup="validate(this)" name="profilepassword" aria-describedby="nameHelp" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6">

          <!-- Circle Buttons -->
          <div class="card shadow mb-4">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <h5 class="mb-0">Ubah Password</h5>
              </div>
            </div>
              <div class="card-body">
                  <% if (profilemsg.length !== 0) { %>
                      <div class="card bg-danger text-white shadow mb-2">
                          <div class="card-body font-weight-bold py-2">
                              <%= profilemsg %>
                          </div>
                      </div>
                  <% } %>
                  <form action="/user/changepassword" method="post">
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Password Lama</label>  
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" aria-describedby="oldPasswordHelp" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password Baru</label>
                        <input type="password"  class="form-control" id="password" name="password" aria-describedby="nameHelp" required>
                    </div>
                    <div class="mb-3">
                        <label for="confPassword" class="form-label">Konfirmasi Password Baru</label>
                        <input type="password"  class="form-control" id="confPassword" name="confPassword" aria-describedby="nameHelp" required>
                    </div>
                    <button type="submit" class="btn bg-gradient-success ms-auto">Ubah Password</button>
                </form>
              </div>
          </div>
      </div>
      </div>
    </div>