<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5>Tabel Waktu Tidak Bersedia</h5>
                            <% if (msg.length !== 0) { %>
                                <div class="alert alert-success alert-dismissible text-white" role="alert">
                                  <strong>Good!</strong> <%- msg %>
                                  <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            <% } %>
                        </div>
                        <div class="card-body px-0 pt-0 pb-2">
                            <form  action="/insert-waktu" method="post">
                                <div class="mb-3" style="width: 500px; margin: 20px 0 0 20px;">
                                    <label for="kode_dosen" class="form-label">Nama Dosen</label>
                                    <select class="form-select" id="kode_dosen" name="kode_dosen" onchange="change_dosen_tidak_bersedia()">
                                        <% dosen.forEach(dsn => { %>
                                            <option value="<%- dsn.id %>" <%- idDosen == dsn.id ? 'selected' : '' %>><%- dsn.name %></option>
                                        <% }) %> 
                                    </select>
                                </div>
                                <button data-bs-toggle="modal" data-bs-target="#tambahPengampuModal" class="btn btn-icon btn-3 btn-primary" type="submit" style="width: 200px; margin: 20px 0 0 20px;">
                                    <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                                    <span class="btn-inner--text">Simpan Perubahan</span>
                                </button>
                                <input type="hidden" name="hide_me" value="hide_me">
                                <div class="table-responsive p-0">
                                    <table class="table align-items-center mb-0" id="datatable-basic">
                                        <thead>
                                            <tr>
                                                <th>Hari</th>
                                                <th>Jam</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Hari</th>
                                                <th>Jam</th>
                                                <th>Status</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% t_hari.forEach(day => { %>
                                                <% waktu.forEach(wkt => { %>
                                                    <tr>
                                                        <td class="text-sm font-weight-normal"><%- day.hari %></td>
                                                        <td class="text-sm font-weight-normal"><%- wkt.range_waktu %></td>
                                                        <%
                                                            let status = ''
                                                            response.forEach(arr => {
                                                                if (arr.kode_hari == day.id && arr.kode_waktu == wkt.id) {
                                                                    status = 'checked'
                                                                }
                                                            });
                                                        %>
                                                        <td class="text-sm font-weight-normal">
                                                              <div class="form-check">
                                                                <input class="form-check-input" name="arr_tidak_bersedia"  type="checkbox" value="<%- idDosen + '-' + day.id + '-' + wkt.id %>" id="fcustomCheck1" <%- status %>>
                                                                <label class="custom-control-label" for="customCheck1">Tidak Bersedia</label>
                                                              </div>
                                                        </td>
                                                    </tr>
                                            
                                                <% }) %>
                                            <% }) %>
                        
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function change_dosen_tidak_bersedia() {
        var idDosen = document.getElementById('kode_dosen')
        window.location.href = "/waktu-tidak-bersedia/" + idDosen.options[idDosen.selectedIndex].value
    }
</script>