<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><%- title %> </h6>
            </div>
            <div class="card-body">
                <form action="/updatedosen/<%- id %>" method="post">
                    <div class="mb-3">
                        <label for="nidn" class="form-label">NIDN</label>  
                        <input type="text" class="form-control" id="nidn" name="nidn" aria-describedby="nidnHelp" value="<%- dosen.nidn%> " autofocus>
                        <!-- <div class="invalid-feedback">
                            
                        </div> -->
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nama Lengkap</label>
                        <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" value="<%- dosen.name%> " required>
                        <div id="validationServer03Feedback" class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" value="<%- dosen.phone%> ">
                    </div>
                    <button class="btn btn-success" type="submit"> Simpan Perubahan </button>
                </form>
            </div>
        </div>
    </div>
</div>