<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%- title %> </h6>
    </div>
    
    <a href="/formdosen" class="btn btn-primary btn-icon-split" style="width: 200px; margin: 20px 0 0 20px;">                
        <span class="text">Tambah Data Dosen</span>
    </a>

    <div class="card-body">
        
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>NIDN</th>
                        <th>Nama</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No.</th>
                        <th>NIDN</th>
                        <th>Nama</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% let no = 1; %> 
                    <% dosen.forEach(dsn => { %>
                        <tr>
                            <td><%= no++ %> </td>
                            <td><%- dsn.nidn %> </td>
                            <td><%- dsn.name %></td>
                            <td><%- dsn.phone %></td>
                            <td width="12%">
                                <a href="/editdosen/<%= dsn.id %> " class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-edit" title="DETAIL"></i>
                                </a>
                                <form action="/deletedosen/<%= dsn.id%>?_method=DELETE" method="post"  style="display: inline;">
                                    <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>                             
                    <% }) %>
                </tbody>
            </table>
        </div>

    </div>
</div>