  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header pb-0">
                  <h5>Tabel Dosen Terdaftar</h5>
                  <% if (msg.length !== 0) { %>
                    <div class="alert alert-success alert-dismissible text-white" role="alert">
                      <strong>Good!</strong> <%- msg %>
                      <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <% } %>
              </div>
                  <button data-bs-toggle="modal" data-bs-target="#tambahDosenModal" class="btn btn-icon btn-3 btn-primary" type="button" style="width: 200px; margin: 20px 0 0 20px;">
                      <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                      <span class="btn-inner--text">Tambah Dosen</span>
                  </button>
              <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0" id="datatable-basic">
                      <thead>
                          <tr>
                              <th>No.</th>
                              <th>NIDN</th>
                              <th>Nama</th>
                              <th>Phone</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                              <th>No.</th>
                              <th>NIDN</th>
                              <th>Nama</th>
                              <th>Phone</th>
                              <th>Action</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          <% let no = 1; %> 
                          <% dosen.forEach(dsn => { %>
                              <tr>
                                  <td class="text-sm font-weight-normal"><%= no++ %></td>
                                  <td class="text-sm font-weight-normal"><%- dsn.nidn %> </td>
                                  <td class="text-sm font-weight-normal"><%- dsn.name %> </td>
                                  <td class="text-sm font-weight-normal"><%- dsn.phone %> </td>
                                  <td class="text-sm font-weight-normal">
                                      <button type="button" id="<%- dsn.id %>" data-bs-toggle="modal" data-bs-target="#editDosenModal" class="btn bg-gradient-warning btn-icon editbutton">
                                          <i class="fas fa-edit" title="edit"></i>
                                      </button>
                                      <form action="/deletedosen/<%= dsn.id%>?_method=DELETE" method="post" onclick="return confirm('Apakah anda yakin ingin menghapus?');" style="display: inline;">
                                          <!-- <button type="submit" class="btn btn-danger btn-icon"><i class="fas fa-trash"></i></button> -->
                                          <button type="submit" class="btn bg-gradient-danger btn-icon"><i class="fas fa-trash"></i></button>
                                      </form>
                                  </td>
                              </tr>                             
                          <% }) %>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- add modal -->
  <div class="modal fade" id="tambahDosenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-primary text-gradient">Tambah Dosen Baru</h3>
                <p class="mb-0">Pastikan terisi dengan benar</p>
            </div>
            <div class="card-body pb-3">
              <form action="/insertdosen" method="post" role="form text-left">
                <div class="mb-3">
                    <label for="nidn" class="form-label">NIDN</label>  
                    <input type="text" class="form-control" id="nidn" name="nidn" aria-describedby="nidnHelp" autofocus>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Nama Lengkap</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn bg-gradient-primary">Tambahkan</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- close add modal -->


<!-- Edit Modal -->
  <div class="modal fade" id="editDosenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-primary text-gradient">Edit Data Dosen</h3>
                <p class="mb-0">Pastikan terisi dengan benar</p>
            </div>
            <div class="card-body pb-3">
              <form action="" id="editForm" method="post" role="form text-left">
                <input type="hidden" name="oldNidn" value="">
                <div class="mb-3">
                  <label for="nidn" class="form-label">NIDN</label>
                  <input type="text" class="form-control" id="nidn" name="nidn" aria-describedby="nidnHelp" value="" autofocus>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Nama Lengkap</label>
                  <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" value="" required>
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">Phone Number</label>
                  <input type="text" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" value="">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn bg-gradient-primary">Simpan Perubahan</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Close edit Modal -->
  
<script>
  $(document).ready(function () {
    $('.editbutton').click(function () {
      iid = $(this).attr('id')
      $.ajax({
        url: '/dosen/' + iid,
        method: 'get',
        data: '',
        dataType: 'json',
        success: function (response) {
          $('#editDosenModal').find('[name=nidn]').val(response.dosen.nidn).end()
          $('#editDosenModal').find('[name=name]').val(response.dosen.name).end()
          $('#editDosenModal').find('[name=phone]').val(response.dosen.phone).end()
          $('#editDosenModal').find('[name=oldNidn]').val(response.oldNidn || response.dosen.nidn).end()
          $('#editForm').attr("action", '/updatedosen/' + response.id)
        },
        error: function(xhr, status, error) {
          console.error('Error fetching data:', error);
        }
      })
    })
  })
</script>