<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5>Tabel Ruangan Kelas</h5>
                        </div>
                        <button data-bs-toggle="modal" data-bs-target="#tambahRuanganModal" class="btn btn-icon btn-3 btn-primary" type="button" style="width: 200px; margin: 20px 0 0 20px;">
                            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                            <span class="btn-inner--text">Tambah Ruangan</span>
                        </button>
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0" id="datatable-basic">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Nomor Ruangan</th>
                                            <th>Kapasitas Ruangan</th>
                                            <th>Jenis</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>No.</th>
                                            <th>Nomor Ruangan</th>
                                            <th>Kapasitas Ruangan</th>
                                            <th>Jenis</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% let no = 1; %> 
                                        <% ruang.forEach(room => { %>
                                            <tr>
                                                <td><%= no++ %> </td>
                                                <td><%- room.no_ruang %> </td>
                                                <td><%- room.kapasitas %> mahasiswa</td>
                                                <td><%- room.jenis %></td>
                                                <td width="12%">
                                                    <button id="<%- room.id %>" type="button" data-bs-toggle="modal" data-bs-target="#editRuanganModal" class="btn bg-gradient-warning btn-icon editbutton">
                                                        <i class="fas fa-edit" title="edit"></i>
                                                    </button>
                                                    <form action="/deleteruang/<%= room.id%>?_method=DELETE" method="post"  style="display: inline;">
                                                        <button class="btn bg-gradient-danger btn-icon" onclick="argon.showSwal('warning-message-and-cancel')"><i class="fas fa-trash"></i></button>
                                                    </form>
                                                </td>
                                            </tr>                             
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add modal -->
<div class="modal fade" id="tambahRuanganModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-primary text-gradient">Tambah Ruang Kelas Baru</h3>
                <p class="mb-0">Pastikan terisi dengan benar</p>
            </div>
            <div class="card-body pb-3">
              <form action="/insertruang" method="post" role="form text-left">
                <div class="mb-3">
                    <label for="no_ruang" class="form-label">Nomor Ruangan</label>  
                    <input type="text" class="form-control" id="no_ruang" name="no_ruang" aria-describedby="no_ruangHelp" autofocus>
                </div>
                <div class="mb-3">
                    <label for="kapasitas" class="form-label">Kapasitas Ruangan</label>
                    <input type="text" class="form-control" id="kapasitas" name="kapasitas" aria-describedby="nameHelp" required>
                </div>
                <div class="mb-3">
                    <label for="jenis" class="form-label">Jenis Ruangan</label>
                    <select class="form-select" id="jenis" name="jenis" aria-label="Default select example">
                        <option value="teori">Teori</option>
                        <option value="praktek">Praktek</option>
                      </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn bg-gradient-primary">Tambahkan</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- close add modal -->

<!-- edit modal -->
<div class="modal fade" id="editRuanganModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-primary text-gradient">Edit Ruang Kelas</h3>
                <p class="mb-0">Pastikan terisi dengan benar</p>
            </div>
            <div class="card-body pb-3">
              <form action="" method="post" id="editForm" role="form text-left">
                <div class="mb-3">
                    <label for="no_ruang" class="form-label">Nomor Ruangan</label>  
                    <input type="text" class="form-control" value="" name="no_ruang" aria-describedby="no_ruangHelp" autofocus>
                </div>
                <div class="mb-3">
                    <label for="kapasitas" class="form-label">Kapasitas Ruangan</label>
                    <input type="text" class="form-control" value="" name="kapasitas" aria-describedby="nameHelp" required>
                </div>
                <div class="mb-3">
                    <label for="jenis" class="form-label">Jenis Ruangan</label>
                    <select class="form-select" name="jenis" aria-label="Default select example">
                        <option value="teori">Teori</option>
                        <option value="praktek">Praktek</option>
                      </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn bg-gradient-primary">Tambahkan</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- close edit modal -->

<script>
  $(document).ready(function () {
    $('.editbutton').click(function () {

      iid = $(this).attr('id')
      $.ajax({
        url: 'http://localhost:5000/editruang/' + iid,
        method: 'get',
        data: '',
        dataType: 'json',
        success: function (response) {
          $('#editRuanganModal').find('[name=no_ruang]').val(response.ruang.no_ruang).end()
          $('#editRuanganModal').find('[name=kapasitas]').val(response.ruang.kapasitas).end()
          $('#editRuanganModal').find('[name=jenis]').val(response.ruang.jenis).end()
          $('#editForm').attr("action", '/updateruang/' + response.id)
        },
        error: function(xhr, status, error) {
          console.error('Error fetching data:', error);
        }
      })
    })
  })
</script>