<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%- title %> </h6>
    </div>
    
    <a href="/formmatkul" class="btn btn-primary btn-icon-split" style="width: 230px; margin: 20px 0 0 20px;">                
        <span class="text">Tambah Data Mata Kuliah</span>
    </a>

    <div class="card-body">
        
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Kode Mata Kuliah</th>
                        <th>Mata Kuliah</th>
                        <th>SKS</th>
                        <th>Semester</th>
                        <th>Jenis Mata Kuliah</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No.</th>
                        <th>Kode Mata Kuliah</th>
                        <th>Mata Kuliah</th>
                        <th>SKS</th>
                        <th>Semester</th>
                        <th>Jenis Mata Kuliah</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% let no = 1; %> 
                    <% matkul.forEach(mk => { %>
                        <tr>
                            <td><%= no++ %> </td>
                            <td><%- mk.kode_mk %> </td>
                            <td><%- mk.matkul %></td>
                            <td><%- mk.sks %></td>
                            <td><%- mk.semester %></td>
                            <td><%- mk.jenis %></td>
                            <td width="12%">
                                <a href="/editmatkul/<%= mk.id %> " class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-edit" title="Edit"></i>
                                </a>
                                <form action="/deletematkul/<%= mk.id%>?_method=DELETE" method="post"  style="display: inline;">
                                    <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>                             
                    <% }) %>
                </tbody>
            </table>
        </div>

    </div>
</div>